.money {
    align-items: center;
    position: relative;
    display: block;
    width: 75px;
    height: 65px;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, .5); */
    align-items: center;
}

.mirror {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.coin {
    position: absolute;
    width: auto;
    max-height: 100%;
}

.coin img {
    height: 50px;
}

.coin1 img {
    height: 20px;
}

.coin2 img {
    height: 25px;
}

.coin6 img {
    height: 40px;
}

.coin15 img {
    height: 50px;
}

.coin50 img,
.coin1000 img {
    height: 60px;
}

.coin100 img {
    height: 50px
}

.coin700 img {
    height: 120px;
    z-index: 0;
}

.coin5000 img {
    height: 100px;
    z-index: 5;
}

.coin1000 img,
.coin5000 img {
    margin-bottom: 15px;
}

.slidecontainer {
    width: 100%;
    /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 2px;
    /* Specified height */
    background: #a4b084;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 15px;
    /* Set a specific slider handle width */
    height: 15px;
    /* Slider handle height */
    background: #718826;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #718826;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
    border-radius: 50%;
}